numpy @ file:///croot/numpy_and_numpy_base_1672336185480/work
numpydoc @ file:///croot/numpydoc_1668085905352/work
pandas==1.4.4
plotly @ file:///tmp/abs_7afcdfad-dbbb-49d2-adea-186abf525c45jbnd8p95/croots/recipe/plotly_1658160053621/work
streamlit==1.27.1

